$grey : #2f2f2f;
$white : rgba(255, 255, 255, 1);
$orange: rgb(242, 139, 2);
$green: rgb(17, 112, 35);



.loginRegister {
  width: 65%;
  margin: auto;
  margin-top: 2rem;
  label {
    font-size: 1rem;
  }
}

button.button-primary {
  background-color: $green;
  border-color: $green;
  &:hover {
    background-color: darken($green, 5%);
    border-color: $green;
  }
}
