$grey : #2f2f2f;
$white : rgba(255, 255, 255, 1);
$orange: rgb(242, 139, 2);

nav {
  display: flex;
  width: 100%;
  background-color: $grey;
  // margin-bottom: 4rem;
  height: 6rem;
  a {
    color: $white;
    text-decoration: none;

    &:hover {
      color: $orange;
    }
  }
  h3 {
    margin: auto;
  }
  ul {
    display: flex;
    list-style: none;
    width: 30%;
    margin: auto;
    margin-right: 0;
    font-size: .7rem;
    li {
      margin: 2rem;
      text-align: right;
    }
  }
}

@media (max-width: 500px) {
  nav h3 {
    font-size: 2rem;
  }
}
