// @import "bourbon";
// @import "bitters/lists";
@import "allMembers";
@import "nav";
@import "loginRegister";
@import "oneMember";


$grey : #2f2f2f;
$white : rgba(255, 255, 255, 1);
$orange: rgb(242, 139, 2);
$green: rgb(17, 112, 35);

html {
  font-size: 16px;
  width: 100%;
  height: 100vh;
}

body {
  width: 100%;
  height: 100vh;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
}

// FIX PARALLAX

$parallax-window-height: 20em;
$parallax-background-height: $parallax-window-height * 2;

.parallax-window {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.parallax-static-content {
  color: #9A9A8A;
  padding: 8em 0;
  position: relative;
  z-index: 9;
}

.parallax-background {
  background: url("../chicago.jpeg");
  background-position: top;
  background-size: contain;
  background-color: beige;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}

// Based on http://codepen.io/skeurentjes/


.testimonials {
  display: flex;
}

.testimonials article {
  margin: auto;
}
